body {
	background: hsl(229, 57%, 11%) url('/images/bg-desktop.svg') no-repeat 0% 130%;
	height: 100vh;
	font-size: 14px;
}
/* layout main content */
main {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* style and layout card containing logo and icons */
.logo-icon-card {
	display: flex;
	align-items: center;
	background-color: hsl(228, 56%, 26%);
	width: 350px;
	height: 200px;
	border-radius: 10px 95px 10px 10px;
	padding-left: 40px;
}
/* layout and space out icons */
.icons {
	display: flex;
	margin-top: 25px;
}
/* style the icons background */
.icons-bg {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 15px;
	border-radius: 10px;
	background-color: hsl(229, 57%, 11%);
}
.storage-card {
	width: 500px;
	height: 200px;
	margin-left: 25px;
}
/* stlye, layout and position the data balance box */
.storage-comment {
	width: 180px;
	height: 70px;
	margin-left: 285px;
	margin-bottom: -20px;
	background-color: #ffffff;
	border-radius: 8px 8px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.5);
	font-size: 12px;
	font-weight: 700;
}
/* style and position the pointy end of the data balance box */
.storage-comment::after {
	content: "";
	position: absolute;
	left: 160px;
	bottom: -20px;
	border-left: 20px solid transparent;
	border-top: 20px solid #ffffff;
}
/* style the data balance figure */
.storage-card .storage-comment > span {
	color: #000000;
	font-size: 40px;
	font-weight: bold;
	display: inline-block;
	margin-right: 10px;
}
/* style the used data content box */
.storage-content {
	display: flex;
	align-items: center;
	width: 100%;
	height: 150px;
	background-color: hsl(228, 56%, 26%);
	border-radius: 10px;
	color: #d2eaf8;
	padding-left: 30px;
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
}
.storage-content p {
	margin-bottom: 15px;
}
.storage-content p span {
	font-weight: 700;
}
/* style the background of the data storage visualization bar */
.storage-bar {
	display: flex;
	align-items: center;
	padding-left: 1.5px;
	width: 440px;
	height: 15px;
	border-radius: 7.5px;
	background-color: hsl(229, 57%, 11%);
}
/* style the used data visualization */
.storage-bar-fill {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 1.5px;
	width: 345px;
	height: 12px;
	border-radius: 6px;
	background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}
/* style the stop end of the used data visualization */
.storage-bar-fill-end {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ffffff;
}
/* space out the data storage range figures */
.storage {
	display: flex;
	justify-content: space-between;
}
.storage span {
	display: block;
	font-weight: 700;
	margin-top: 10px;
}
.attribution {
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
	text-align: center;
	color: #d2eaf8;
}
.attribution span a {
	display: inline-block;
	text-decoration: none;
	background-color: #d2eaf8;
	padding: 3px 5px;
	border-radius: 3px;
	color: hsl(229, 57%, 11%);
}
/* Add mobile responsiveness for major screens */
@media screen and (max-width: 1280px) {
	body {
		background-position: left bottom;
	}
}

@media screen and (min-width: 1440px) {
	body {
		background-position: left bottom;
	}
}

@media screen and (max-width: 484px) {
	body {
		background: url('/images/bg-mobile.svg') no-repeat cover;
	}
	main {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.storage-card {
		width: 350px;
		margin-left: initial;
		margin-top: 140px;
	}
	.storage-content {
		height: 160px;
		text-align: center;
		font-size: 16px;
	}
	.storage-bar {
		width: 290px;
	}
	.storage-bar-fill {
		width: 195px;
	}
	/* Re-position the data balance content. Pushes it to the middle and down */
	.storage-comment {
		border-radius: 8px;
		margin: 0 auto -195px;
	}
	/* Remove the pointy end of the data balance box */
	.storage-comment::after {
		display: none;
	}
}

@media screen and (max-width: 320px) {
	.logo-icon-card {
		width: 300px;
	}
	.storage-card {
		width: 300px;
	}
	.storage-bar {
		width: 240px;
	}
	.storage-bar-fill {
		width: 145px;
	}
	.attribution span {
		display: block;
	}
}
